    <h1 mat-dialog-title>{{'CreateTask'| translate}}</h1>

    <form [formGroup]="newTaskForm" novalidat autocomplete="off">
    
    <div class="form-group" >
        <mat-form-field>
        <mat-label>{{'Name'|translate}}</mat-label>
        <input matInput required minlength="4" name="name" formControlName="name">
        </mat-form-field>
        <div *ngIf="newTaskForm.get('name').hasError('required') && newTaskForm.get('name').touched" style="margin-top: -20px;">
            <span class="mda-form-msg">{{'RequiredField'| translate}}</span>
        </div>
    </div>
    <div class="form-group" >
        <mat-form-field>
            <mat-label>{{'Description'|translate}}</mat-label>
            <input matInput required minlength="4" name="description" formControlName="description">
        </mat-form-field>
    </div>
    <div class="form-group" >
        <mat-form-field>
        <mat-label>{{'Estimation'|translate}}</mat-label>
        <input matInput required min="0" name="amount" formControlName="amount" type="number">
        </mat-form-field>
        <mat-form-field >
            <mat-label>{{'EstimationType'|translate}}</mat-label>
            <mat-select [(ngModel)]="estimationType" formControlName="typeEstimate" [formGroup]="newTaskForm" required >
                <mat-option *ngFor="let estimationType of estimateValues" value="{{estimationType.id}}">{{ estimationType.name | translate}}</mat-option>
            </mat-select>

        </mat-form-field>
        <div *ngIf="(newTaskForm.get('amount').hasError('required') && newTaskForm.get('amount').touched) ||
            (newTaskForm.get('typeEstimate').hasError('required') && newTaskForm.get('typeEstimate').touched)" style="margin-top: -20px;">
            <span class="mda-form-msg">{{'RequiredField'| translate}}</span>
        </div>
    </div>
    
    <div class="form-group" >
        <mat-form-field appearance="legacy">
            <mat-label>{{'State'|translate}}</mat-label>
            <mat-select [(ngModel)]="selectedState" formControlName="state" [formGroup]="newTaskForm" required>
                <mat-option *ngFor="let filterValue of statesValues" value="{{filterValue.id}}">{{ filterValue.name | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    </form>

    <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">{{'Cancel'|translate}}</button>
    <button mat-flat-button color="accent" cdkFocusInitial [disabled]="newTaskForm.invalid"
    type="button" style="margin-left: 10px;" (click)="saveTask()">Ok</button>
    </div>